:root {
  --page-bg-color: #0f172a;
  --content-bg-color: #1e293b;
  --content-border-color: #334155;
  --strong-text-color: #f1f5f9;
  --text-color: #64748b;
  --highlight-color: #ec4899;
}

body {
  color: var(--text-color);
  background-color: var(--page-bg-color);
  font-family: 'Karla', Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--strong-text-color);
  font-family: 'Sedgwick Ave Display', cursive;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 10px 0;
}

a {
  color: var(--highlight-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

main {
  margin: 0 auto;
  padding: 0 20px;
}

header {
  padding: 0 20px;
}

section {
  background-color: var(--content-bg-color);
  border: 1px solid var(--content-border-color);
  border-radius: 20px;
  padding: 15px;
}

form {
  text-align: center;
}

input {
  border: 1px solid var(--content-border-color);
  border-radius: 12px;
  background-color: var(--strong-text-color);
  padding: 7px;
  font-size: 1em;
}

button {
  background-color: var(--highlight-color);
  color: var(--strong-text-color);
  border: none;
  border-radius: 12px;
  padding: 10px;
  font-size: 1em;
}

.logo {
  color: var(--highlight-color);
  font-family: 'Sonsie One', cursive, serif, system-ui;
  font-weight: 400;
  font-style: normal;
  padding: 20px 0;
}
